@reference "tailwindcss";

.Screen {
    @apply p-[2.5%] md:p-[5%] bg-size-[700px];
    /* background-image: linear-gradient(theme(colors.sky.400), #202020); */
    /* animation: animatedBackground 10s linear infinite alternate; 
     //url("../../../public/images/Website Background.png"),
    */
}

.Home {
    @apply flex flex-col justify-center items-center gap-8;
    @apply md:flex-row md:justify-between md:gap-0;
}

.AvatarContainer {
    @apply inline-block;
}

.AvatarPhoto {
    @apply max-w-full h-auto rounded-lg;
}

.TextContainer {
    @apply flex flex-col items-center max-w-full w-full;
}

.Fixed {
    @apply fixed top-[40%] left-[1%];
}

@keyframes animatedBackground {
    from {
        background-position: 0 100%;
    }
    to {
        background-position: 0 0;
    }
}
