@reference "tailwindcss";

.EducationScreen {
    background-color: rgb(15, 23, 42); /* slate-900 */
    width: 100%;
    overflow-x: hidden;
}

.Education {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-left: calc(4rem + 1rem);
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .Education {
        flex-direction: row;
        padding: 2rem;
        padding-left: calc(5rem + 2rem);
    }
}

.EducationButton {
    @apply relative flex flex-row rounded-xl bg-slate-800 text-slate-100 items-center my-2 mx-2 md:my-3 md:mx-5 py-1 px-2 md:py-1 md:px-3 text-sm md:text-base transition-all duration-150 ease-linear
    hover:rounded-none hover:cursor-pointer hover:border-l-4 hover:border-violet-400;
    transform: scale(1.2);
    min-width: 160px;
    box-sizing: border-box;
    border-left: 4px solid transparent;
}

@media (min-width: 768px) {
    .EducationButton {
        transform: scale(1.5);
        min-width: 200px;
    }
}

.EducationButtonSelected {
    @apply relative flex flex-row rounded-none bg-slate-800 text-slate-100 items-center my-2 mx-2 md:my-3 md:mx-5 py-1 px-2 md:py-1 md:px-3 text-sm md:text-base border-l-4 border-violet-400;
    transform: scale(1.2);
    min-width: 160px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .EducationButtonSelected {
        transform: scale(1.5);
        min-width: 200px;
    }
}

.MoreDetailsButton {
    @apply relative flex flex-col rounded-lg bg-slate-700 text-slate-100 items-center justify-center my-2 sm:my-3 md:my-4 lg:my-5 px-4 sm:px-6 md:px-8 lg:px-10 py-2 sm:py-2 md:py-3 lg:py-4 text-xs sm:text-sm md:text-base lg:text-lg transition-all duration-100 ease-linear
    hover:cursor-pointer hover:bg-violet-400;
    width: auto;
    min-width: fit-content;
    box-sizing: border-box;
}

.-top-68 {
    top: -17rem;
}